/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 May, 2021, 5:41:06 PM
    Author     : HP
*/

body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://images.unsplash.com/9/fields.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZhcm18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    padding-top: 25vh;
}
form{
    background:snow;
}
.form-container{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px;
}
.bg{
    border-radius: 50%;
width: 60px;
height: 60px;
position: absolute;
top: -35px;
left: 40%;
}
.dp{
    position:center;
}